[Unit]
Description=Docker custom OVS networking
After=openvswitch-switch.service docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/docker-custom-networking
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
