2529744d-72b8-490e-8999-128c2a95764f
    Bridge "br-nznog6"
        Controller "tcp:192.168.122.2:6653"
            is_connected: true
        Controller "tcp:192.168.122.2:6654"
            is_connected: true
        fail_mode: secure
        Port "dpdk5"
            Interface "dpdk5"
                type: dpdk
        Port "vhost-nznog6-host"
            Interface "vhost-nznog6-host"
                type: dpdkvhostuser
        Port "vhost-nznog6-nat64"
            Interface "vhost-nznog6-nat64"
                type: dpdkvhostuser
        Port "dpdk6"
            Interface "dpdk6"
                type: dpdk
        Port "br-nznog6"
            Interface "br-nznog6"
                type: internal
    Bridge br-nznog
        Controller "tcp:192.168.122.2:6653"
            is_connected: true
        Controller "tcp:192.168.122.2:6654"
            is_connected: true
        fail_mode: secure
        Port vhost-vibe
            Interface vhost-vibe
                type: dpdkvhostuser
        Port "dpdk2"
            Interface "dpdk2"
                type: dpdk
        Port "dpdk4"
            Interface "dpdk4"
                type: dpdk
        Port "dpdk3"
            Interface "dpdk3"
                type: dpdk
        Port vhost-speedtest
            Interface vhost-speedtest
                type: dpdkvhostuser
        Port vhost-router
            Interface vhost-router
                type: dpdkvhostuser
        Port "vhost-nznog-nat64"
            Interface "vhost-nznog-nat64"
                type: dpdkvhostuser
        Port vhost-nznog-host
            Interface vhost-nznog-host
                type: dpdkvhostuser
        Port br-nznog
            Interface br-nznog
                type: internal
    Bridge br-control
        Controller "tcp:192.168.122.2:6654"
            is_connected: true
        Controller "tcp:192.168.122.2:6653"
            is_connected: true
        fail_mode: secure
        Port "dpdk1"
            Interface "dpdk1"
                type: dpdk
        Port vhost-faucet
            Interface vhost-faucet
                type: dpdkvhostuser
        Port "dpdk0"
            Interface "dpdk0"
                type: dpdk
        Port br-control
            Interface br-control
                type: internal
    ovs_version: "2.6.0"
